form {
  width: 90%;
  max-width: 300px;
  background-color: #354F52;
  padding: 33px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 7px;
}

label {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #CAD2C5;
  margin-bottom: 26px;
}

textarea {
  background-color: #52796F;
  border: 2px solid #202329;
  border-radius: 7px;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
  color: #CAD2C5;
  font-size: 20px;
  text-align: center;
  padding: 12px;
  height: 96px;
  width: calc(100% - 25px);
}

textarea::placeholder {
  color: #A5A5A5;
  font-family: 'Montserrat';
  font-weight: 400;
}

textarea:focus {
  outline-color: #84A98C;
}

.TodoForm-buttonContainer {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.TodoForm-button {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  color: #CAD2C5;
  font-weight: 400;
  width: 120px;
  height: 48px;
  border-radius: 2px;
  border: none;
  font-family: 'Montserrat';
}

.TodoForm-button--add {
  background: #3FBA52;
  box-shadow: 0px 5px 25px #3e944b;
}

.TodoForm-button--cancel {
  background: transparent;
}
